@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0CABA8;
}

p {
    margin: 0 auto;
}

main {
    margin: 20px 30px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #015958;
}

#nav-link {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 20px;
    background-color: #0FC2C0;
}

footer > p {
    font-size: 110%;
}

.food-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

a:link {
    color: #023535
}

a:visited {
    color: yellow;
    border-bottom: black;
}

a:hover {
    color: green;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

a:active {
    color: red;
    padding-top: 10px;
}

h3 > a {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

.taco-link img {
    height: 200px;
    border: 1px solid #015958;
    box-shadow: 3px 3px #DAFDBA, -1em 0 .4em #9AEBA3;
}

h1 {
    color: #074443;
}

h2 {
    color: #055150;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: #098585;
    text-decoration: underline;
    font-weight: bold;
}
